<a href="/logout">Logout</a>
<a href="/home">Home</a>
<body>
	<p style="font-size: 40px;">Logged in as {{username}} Ambulance Driver</p>
	<p>
		General Instructions:<br>
		1.Stay on page and turn on GPS location and location access.<br>
		2.You will be notified in case of accidents<br>
		3.After Notification press the button to view the location.<br>
	</p>
	<form action="#" method="post">

		<input style="color: white;background-color: blue;" type="submit" value="View Location">
		<p>{{error}}</p>
	</form>
</body>