<body>
	<a href="/logout">Logout</a>
	<a href="/home">Home</a>
	<p style="font-size: 40px;">Logged in as {{username}}</p>
	<p>Your Data:
		<br>
		{{data}}
	</p>
	<p>General Instructions:<br>
		1.In case of fall press this button.<br>
		2.Helpers will reach you.<br>
	</p>
	<button>Press Here!</button>
	<label style="color: red;font-size: 30px;"><br>Your Details:<br></label>
	<p>
		Medical History:<br>
		{{history}}<br>
		Medicines you use:<br>
		{{medicines}}<br>
		Your doctors number:<br>
		{{doctor}}<br>
		Relative 1 Number:
		<br>{{r1}}<br>
		Realtive 2 Number:<br>
		{{r2}}<br>

	</p>
</body>