<a href="/logout">Logout</a>
<a href="/home">Home</a>
<label style="font-family:cursive;font-size: 30px;">SIGN UP -USER PART 2</label>
<form action="#" method="post">
	<label>Enter Your Illness: (Emergency will be sent accordingly)</label>
	<br>
	<textarea style="font-size:20px" name="history" cols="40" rows="5"></textarea>
	<br>
	<label>Medicines Used:&nbsp</label>
	<input name="medicines" type="text"></input>
	<br>
	<label>Doctor's Number :</label>
	<input name="doctor" type="text"></input>
	<br>
	<label>Relative-1:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
	<input name="r1" type="text"></input>
	<br>
	<label>Relative-2:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
	<input name="r2" type="text"></input>
	<br>
	<input type="submit" value="Sign Up">


</form>

</form>